
h1{
    
    margin-right: 40%;
    text-transform: uppercase;
    font-weight: bolder;
}
a{
    object-fit: cover;
    margin-right: 50px;
}                            
img{
    height: 86px;
    width: 86px;
    border-radius: 100%;  
  
}
img:hover{
    box-shadow: white 2px 2px 20px 5px;
}
.container{
    margin-left: 5px;
    margin-right: 5px;
}