<section>
  <div>
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>ID Tecnico</label>
        <input
          type="text"
          placeholder="Id Tecnico"
          class="form-control"
          formControlName="idtecnico"
        />
      </div>
      <div class="form-group">
        <label>Tipo Servicio</label>
        <select class="form-select" formControlName="tiposervicio">
          <option selected value="Normal">Normal</option>
          <option value="Emergencia">Emergencia</option>
        </select>
      </div>
      <div class="form-group">
        <label>Fecha inicio</label>
        <input
          type="date"
          placeholder="Fecha inicio"
          class="form-control"
          formControlName="fechainicio"
        />
      </div>
      <div class="form-group">
        <label>Fecha Finalizacion Servicio</label>
        <input
          type="date"
          placeholder="fecha fin"
          class="form-control"
          formControlName="fechafin"
        />
      </div>
   

      <button
        type="submit"
        value="Entrar"
        class="btn btn-secondary"
        [disabled]="!formulario.valid"
      >
        Registrar
      </button>
    </form>
  </div>
</section>
